{% extends 'base.html' %} <!-- We want it to base template but to populate info for home page inside -->
{% block title %} Home {% endblock %} <!-- inside of the title block, insert 'Home' -->
{% block content %} <!-- inside of the block content, insert 'Welcome to the Flask Jinja2 application -->
<div class = "flex flex-col items-center justify-center bg-green-100 justify-around p-8 rounded-lg shadow">
<h1>Welcome to the Flask UI App!</h1>
<p>My name is Angelina</p>
<p> to learn more look at the links above</p>
</div>

{% endblock %}